$navHeight: 60px;
$footerHeight: 120px;
$topTitleHeight: 350px;

$mobileNavTitleSize: 18px;

$xxlfontSize: 24px;

$themeColor: #ffc0cb;
$themeDeepColor: #e3a5b0;
$themeDeepestColor: #f65fa3;

$secondaryColor: #8fb270;
$secondaryDeepestColor: #49d4c6;

$mobileDevice: 320px;

$shadowColor: rgba(0, 0, 0, 0.3);

$normal-device: 1440px;
$mobile-device: 320px;
$smallpc-device: 992px;
$pad-device: 768px;
